.horizontal-line~.horizontal-line {
    background-color: #004737;
    width: 100%;
    height: 2px;
}

.body-job-detail {
    position: relative;
    font-size: 30px;
    color: #004737;
    padding: 20px 0;
    min-height: 4.5rem;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

.body-job-detail .year-range {
    /*display: inline-block;*/
    position: absolute;
    font-size: 17px;
}

.body-job-detail .job-title {
    position: absolute;
    padding-left: 13rem;
}

.body-job-detail .company-name {
    position: absolute;
    padding-left: 13rem;
    padding-top: 3rem;
    font-size: 18px;
}

.body-job-detail .job-description {
    position: relative;
    padding-left: 80px;
    width: 61%;
}

.body-job-detail .job-description .job-point {
    position: relative;
    font-size: 17px;
    padding: 5px 0;
    display: list-item;
}

@media only screen and (max-width: 768px) {
    .horizontal-line~.horizontal-line {}

    .body-job-detail {
        min-height: 3.5rem;
    }

    .body-job-detail .year-range {
        font-size: 10px;
    }

    .body-job-detail .job-title {
        padding-left: 8rem;
        font-size: 16px;
    }

    .body-job-detail .company-name {
        padding-left: 8rem;
        padding-top: 2rem;
        font-size: 12px;
    }

    .body-job-detail .job-description {
        padding-left: 10px;
        width: 94%;
        transform: none !important;
        padding-top: 60px;
    }

    .body-job-detail .job-description .job-point {
        font-size: 12px;
    }
}