.container-experience {
    background-color: white;
    padding: 8% 10%;
    position: relative;
    z-index: 10;
}

.container-experience .section-title {
    font-size: 80px;
    color: #004737;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.container-experience .experience-background {
    position: absolute;
    width: 80%;
}

.container-experience .gradient-hide-top {
    position: absolute;
    height: 10rem;
    width: 78%;
    margin-left: 20px;
    margin-top: 7.5%;
    z-index: 20;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(88, 240, 159, 1), rgba(88, 240, 159, 1));
}

.container-experience .gradient-hide-bottom {
    position: absolute;
    height: 10rem;
    width: 78%;
    margin-left: 20px;
    margin-top: 45%;
    z-index: 20;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(88, 240, 159, 1), rgba(88, 240, 159, 1));
}

.body-experience {
    z-index: 10;
    position: relative;
    margin: auto;
    width: 40%;
    cursor: pointer;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.body-experience .empty-gap {
    height: 10rem;
}

.track-vertical {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .container-experience {
        overflow: hidden;
    }

    .container-experience .experience-background {
        left: 0;
        background-color: #56F09F;
        height: 700px;
        width: 100%;
    }

    .container-experience .section-title {
        font-size: 45px;
        padding: 50px 0;
    }

    .container-experience .gradient-hide-top {
        margin-top: 110px;
        margin-left: 0;
        width: 80%;
        height: 7rem;
    }

    .container-experience .gradient-hide-bottom {
        margin-top: 587px;
        margin-left: 0;
        width: 80%;
        height: 7rem;
    }

    .body-experience {
        width: 100% !important;
    }

    .body-experience .empty-gap {
        height: 4rem;
    }

    ::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;
    }
}